@model Hotel.WebUI.Models.StaffViewModels.AddStaffViewModel

@{
    ViewData["Title"] = "AddStaff";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form asp-action="AddStaff" method="post">
    <div>
        <label asp-for="Name">Personel Adı:</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div>
        <label asp-for="Title">Personel Unvan:</label>
        <input type="text" asp-for="Title" class="form-control" />
    </div>
    <div>
        <label asp-for="SocialMedia1">Sosyal Medya 1</label>
        <input type="text" asp-for="SocialMedia1" class="form-control" />
    </div>
    <div>
        <label asp-for="SocialMedia2">Sosyal Medya 2</label>
        <input type="text" asp-for="SocialMedia2" class="form-control" />
    </div>
    <div>
        <label asp-for="SocialMedia3">Sosyal Medya 3</label>
        <input type="text" asp-for="SocialMedia3" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Ekle</button>  
</form>


